## Preprocessing

In [1]:
import tensorflow as tf

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [3]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN','NAME'], inplace = True)

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 100
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()
application_types_to_replace

['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [8]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification = application_df['CLASSIFICATION'].value_counts()
classification_counts = classification[classification > 1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value_classification = 100
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value_classification].index.tolist()
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [12]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df.dtypes
categorical_columns = application_df.select_dtypes(include = ['object']).columns.tolist()
print(categorical_columns)
application_df_encoded = pd.get_dummies(application_df, columns = categorical_columns)
application_df_encoded.head()

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded['IS_SUCCESSFUL'].values
X = application_df_encoded.drop(columns = ['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
X_train.shape[1]

50

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
import tensorflow as tf
nn = tf.keras.models.Sequential()

In [18]:
# First hidden layer
nn.add(tf.keras.layers.Dense(units = 80, input_dim = X_train.shape[1], activation='relu'))

In [19]:
# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 30, activation='relu'))

In [20]:
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [21]:
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4080

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,541
Trainable params: 6,541
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=25)

Epoch 1/25
858/858 [==============================] - 6s 3ms/step - loss: 0.5673 - accuracy: 0.7203
Epoch 2/25
858/858 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7298
Epoch 3/25
858/858 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7301
Epoch 4/25
858/858 [==============================] - 3s 4ms/step - loss: 0.5475 - accuracy: 0.7314
Epoch 5/25
858/858 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7302
Epoch 6/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7330
Epoch 7/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7323
Epoch 8/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7328
Epoch 9/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7333
Epoch 10/25
858/858 [==============================] - 3s 3ms/step - loss: 0.5430 - accuracy: 0.7321
Epoch 11/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7346
Epoch 12/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7349
Epoch 13/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7346
Epoch 14/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7340
Epoch 15/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 16/25
858/858 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7353
Epoch 17/25
858/858 [==============================] - 3s 3ms/step - loss: 0.5401 - accuracy: 0.7356
Epoch 18/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7347
Epoch 19/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7367
Epoch 20/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7357
Epoch 21/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7359
Epoch 22/25
858/858 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 23/25
858/858 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 24/25
858/858 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 25/25
858/858 [==============================] - 4s 4ms/step - loss: 0.5376 - accuracy: 0.7369

In [26]:
# Evaluate the model using the test data
evaluation_model = nn.evaluate(X_test_scaled,y_test,verbose=2)
print("Loss: ", evaluation_model[0])
print("Accuracy: ", evaluation_model[1])

215/215 - 0s - loss: 0.5537 - accuracy: 0.7300 - 459ms/epoch - 2ms/step
Loss:  0.553740918636322
Accuracy:  0.7300291657447815

In [28]:
# Export our model to HDF5 file
nn.save('StarterCode_Charity.h5')

In [29]:
from google.colab import files
files.download('StarterCode_Charity.h5')